accelerate==1.3.0
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.8.0
archspec @ file:///croot/archspec_1697725767277/work
asttokens==3.0.0
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///work/perseverance-python-buildout/croot/brotli-split_1698805593785/work
cachetools==5.5.1
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda @ file:///croot/conda_1708369113911/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1698882886606/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1702997573971/work/src
conda-package-handling @ file:///work/perseverance-python-buildout/croot/conda-package-handling_1698851267218/work
conda_package_streaming @ file:///work/perseverance-python-buildout/croot/conda-package-streaming_1698847176583/work
contourpy==1.3.1
cryptography @ file:///croot/cryptography_1702070282333/work
cycler==0.12.1
decorator==5.1.1
distro @ file:///work/perseverance-python-buildout/croot/distro_1701732366176/work
executing==2.2.0
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
fonttools==4.56.0
fsspec==2025.2.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.28.1
idna @ file:///work/perseverance-python-buildout/croot/idna_1698845632828/work
ipython==8.32.0
jedi==0.19.2
Jinja2 @ file:///work/perseverance-python-buildout/croot/jinja2_1707343043683/work
jiter==0.8.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
kiwisolver==1.4.8
libmambapy @ file:///work/perseverance-python-buildout/croot/mamba-split_1701744133524/work/libmambapy
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib==3.10.0
matplotlib-inline==0.1.7
menuinst @ file:///croot/menuinst_1706732933928/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
networkx @ file:///work/perseverance-python-buildout/croot/networkx_1698865062738/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
openai==1.63.0
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow @ file:///croot/pillow_1707233021655/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat @ file:///work/perseverance-python-buildout/croot/pycosat_1698863456259/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
regex==2024.11.6
requests @ file:///croot/requests_1707355572290/work
rsa==4.9
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
safetensors==0.5.2
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==68.2.2
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
sympy==1.13.1
tokenizers==0.21.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm @ file:///work/perseverance-python-buildout/croot/tqdm_1701735729845/work
traitlets==5.14.3
transformers==4.48.3
triton==3.1.0
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1707770551213/work
wcwidth==0.2.13
wheel==0.41.2
zstandard @ file:///work/perseverance-python-buildout/croot/zstandard_1698847073368/work
