accelerate==1.3.0
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.8.0
archspec 
asttokens==3.0.0
boltons 
Brotli 
cachetools==5.5.1
certifi 
cffi 
charset-normalizer 
contourpy==1.3.1
cryptography
decorator==5.1.1
distro 
executing==2.2.0
filelock
fonttools==4.56.0
fsspec==2025.2.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.28.1
idna 
ipython==8.32.0
jedi==0.19.2
Jinja2
jiter==0.8.2
jsonpatch 
jsonpointer==2.1
kiwisolver==1.4.8
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline==0.1.7
mpmath 
networkx 
numpy 
packaging 
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow 
platformdirs 
pluggy 
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat 
pycparser 
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
PySocks 
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML 
regex==2024.11.6
requests 
rsa==4.9
ruamel.yaml 
safetensors==0.5.2
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==70.0.0
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
sympy==1.13.1
tokenizers==0.21.0
tqdm 
traitlets==5.14.3
transformers==4.48.3
truststore 
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3 
wcwidth==0.2.13
wheel==0.41.2
zstandard 
triton==3.1.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
